html{
	background-color: white;
	/*background: url(img/down.jpg);*/
	background-height: 100%;
	/*background-repeat:repeat-x;*/
    /*background-attachment:fixed;*/
    background-position: left top;
    /*position:absolute;*/
}

body > .row{
	padding:10px;
	/*margin:20px;*/
	/*margin-bottom:0px;*/
	background: white;
	border-bottom: 10px solid #eee;
}

.splash-text{
	background: none;
	/*padding-top:70px;*/
	/*padding-bottom:70px;*/
	margin-bottom:20px;
}

.splash-text h1, .splash-text h2, .splash-text h3, .splash-text h4, .splash-text h5, .splash-text h6{
	text-transform: uppercase;
	font-weight: 900; 
	display: inline-block;
}

.splash-text small{
	border-bottom:3px solid black;
	position: relative;
	bottom: 8px;
}

h1{
	color:white;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	font-size:5em;
}

h2{
	text-transform: uppercase;
	padding:10px;
}

.section{
	padding:10px;
}

p.flow-text{
	margin-top:0px;
}



table.condensed th{
	text-align: center;
}
table.condensed td{
	padding:5px;
	text-align: center;
}



/*footer*/
.page-footer{
	margin-top:0px !important;
}
footer a{
	color:inherit;
	opacity: 0.4;
	text-decoration: underline;
}
